<!-- 
<div class="card card-default">
        
           <div class="card-header">
         VIEW 
        </div>
        <div class="card-body">
        	<label >{{this.car}}</label>
        </div>
    </div>
<div>
    <div>
    	<h3 style="color: #636e72">MASTER</h3>
    	</div>
</div> -->

<!-- START row-->
<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-body">
            	<h4>SELECT / FILTER</h4>
                	<div class="row">
	                    <div class="col-6 form-group">
	                        <label>Branch Name</label>
	                        <select class="custom-select custom-select-sm" [(ngModel)]="origin_id_by_customer" (change)="customerList(origin_id_by_customer)">
                            <option value="" disabled selected hidden="">Select-Type</option>
                            <option  *ngFor= "let listb of branchlist" value="{{listb.origin_id}}">
                            	{{listb.origin_name}}
                            </option>
                        </select>
	                    </div>
	                    <div class="col-6 form-group">
	                        <label>Customer Name</label>
	                        <select class="custom-select custom-select-sm" [(ngModel)]="customer_id" (change)="tariffList(customer_id)">
                            <option value="" disabled selected hidden="">Select-Type</option>
                            <option *ngFor= "let list of customerlist" value="{{list.origin_client_id}}">
                            	{{list.client_name}}
                            </option>
                        </select>
	                    </div>
                	</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-default">
            <div class="card-body">
            		<h4>ADD/ UPDATE</h4>
                	<div class="row">
	                    <div class="col-6 form-group">
	                        <label>Payment Mode</label>
	                        <select class="custom-select custom-select-sm" [(ngModel)]="rateList.payment_mode">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of paymentList">
                            	{{view.payment_mode}}
                            </option>
                        </select>
	                    </div>
	                    <div class="col-6 form-group">
	                        <label>Destination</label>
	                        <select class="custom-select custom-select-sm" [(ngModel)]="rateList.wh_storage_location_name">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of destinationList" value="{{view.wh_storage_location_id}}">
                            	{{view.wh_storage_location_name}}
                            </option>
                        </select>
	                    </div>
                	</div>
                	<div class="row">
	                    <div class="col-6 form-group">
	                        <label>Service Type</label>
	                        <select class="custom-select custom-select-sm" [(ngModel)]="rateList.transit_type_name">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of serviceList"
                            value="{{view.transit_type_id}}">
                            	{{view.transit_type_name}}
                            </option>
                        </select>
	                    </div>
	                    <div class="col-6 form-group">
	                        <label>Shipment Type</label>
	                        <select class="custom-select custom-select-sm" [(ngModel)]="rateList.shipment_type">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of shipmentList" value="{{view.document_type}}">
                            	{{view.document_type}}
                            </option>
                        </select>
	                    </div>
                	</div>
                	<div class="row">
	                    <div class="col-6 form-group"><br>
	                        <label>Round To</label><br>
	                        <input class="form-control" type="text" placeholder="Round To" [(ngModel)]="rateList.minimum_wgt"/>
	                    </div>
	                    <div class="col-6 form-group">
	                        <label>Min Rate By Shipment</label>
	                        <input class="form-control" type="text" placeholder="Min Rate By Shipment" [(ngModel)]="rateList.min_rate_per_shipment" />
	                    </div>
                	</div>
                	<div class="row">
	                    <div class="col-6 form-group">
	                        <label>Transit Days to Delivery</label>
	                        <input class="form-control" type="text" placeholder="Transit Days to Delivery" [(ngModel)]="rateList.transit_days_to_delivery"/>
	                    </div>
	                    <div class="col-6 form-group"><br>
	                        <label>Fuel sur Charge ( % )</label>
	                       	<input class="form-control" type="text" placeholder="Fuel sur Charge " [(ngModel)]="rateList.fuel_sur_charge"/>
	                    </div>
                	</div>
                	<div class="row" style="margin-left: 2%">
                		<button class="btn btn-primary" type="submit" (click)="insert()">Add</button>&nbsp;
                		<button class="btn btn-primary" type="submit" (click)="update()">Update</button>&nbsp;
                		<button class="btn btn-primary" type="submit" (click)="reset()" >Reset</button>&nbsp;
                		<button class="btn btn-primary" style="margin-top: 2px;" type="submit" (click)=print() >Print</button>&nbsp;
                	</div>
                	<div class="row">
	                    <table class="table">
                  <thead>
                     <tr>
                        <th>Weight</th>
                        <th>Amount</th>
                        <th>RateType</th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td> <input class="form-control" type="text" [(ngModel)]="slapList.slap_weight"/></td>
                        <td> <input class="form-control" type="text" [(ngModel)]="slapList.slap_amount"/></td>
                        <td colspan="2">
                        	 <select class="custom-select custom-select-sm" [(ngModel)]="slapList.slap_rate_type_UOM">
                            <option value="" disabled selected hidden=""></option>
                            <option *ngFor="let view of rateTypeList" value="{{view.unit_of_measurement}}">
                              {{view.unit_of_measurement}}
                            </option>
                        </select>
                        </td>
                        <!-- <td></td> -->
                     </tr>
                     <tr>
                      <td >
                       <button class="btn btn-primary" type="submit" (click)="insert_slap()">Add</button>
                     </td>
                     <td>
                        <button class="btn btn-primary" type="submit" (click)="update_slap()">Update</button>
                      </td>
                      <td></td>
                      <td></td>
                    </tr>
                     <tr *ngFor="let view of slapListget">
                        <td>{{view.slap_weight}}</td>
                        <td>{{view.slap_amount}}</td>
                        <td>{{view.slap_rate_type_UOM}}</td>
                        <td>
                          <i class="fas fa-pen" aria-hidden="true" (click)="edit_slap(view.customer_slap_rate_id)"></i>
                          <i class="fas fa-trash" aria-hidden="true" (click)="delete_slap(view.customer_slap_rate_id)"></i>
                        </td>
                     </tr>
                  </tbody>
               </table>
                	</div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
      <div class="card card-default">
         <div class="card-body">
         	<h4>VIEW / LIST</h4>
            <div class="table-responsive" style="height: 535px; overflow-y: scroll;">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th><b>DESTINATION</b></th>
                        <th><b>SHIPMENT TYPE</b></th>
                        <th><b>MODE</b></th>
                        <th><b>SERVICE</b></th>
                        <th><b>ACTION</b></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor ="let view of tarifflist">
                        <td>{{view.wh_storage_location_name}}</td>
                        <td>{{view.shipment_type}}</td>
                        <td>{{view.payment_mode}}</td>
                        <td>{{view.transit_type_name}}</td>
                        <td><button class="btn btn-primary" type="submit" (click)="edit(view.customer_rate_id)">Edit</button>&nbsp;
                        <button class="btn btn-primary" type="submit" (click)="deleteTariff(view.customer_rate_id)">Delete</button></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
>>>>>>> master-billing
