<div class="row content-heading">

    <div class="col-xl-4">
            <div>Without Sale Entry
       <!-- <small>Bootstrap Responsive tables</small> -->
       </div>
    </div>
    <div class="col-xl-4">
    </div>
    <div class="col-xl-4">
    </div>
</div>

	<div class="row">
	 <div class="col-lg-4 mb-3">
           	 <label for="validationServer01">Origin</label>
                   <select class="form-control " [(ngModel)]="origin" name="sel">
                       <option value="" disabled selected hidden="">Select-Origin</option>
						<option value="{{list.origin_id}}"   *ngFor= "let list of originlist">{{list.origin_name}}</option>
                    </select>
                                    
      </div>
      <div class="col-lg-4 mb-3">
           <label for="validationServer02">From Date</label>
                <input class="form-control " name="ex" type="date" [(ngModel)]="from_date" required="" />
       </div>
       <div class="col-lg-4 mb-3">
           <label for="validationServer02">To Date</label>
                <input class="form-control " name="ex" type="date" [(ngModel)]="to_date" required="" />
       </div>
     </div>
     <div class="row">
     	<div class="col-lg-1 mb-3">
     	 <button class="btn btn-primary" (click)=submit() style="text-align: center;" type="submit">Submit</button>
     	</div>
     	<div class="col-lg-4 mb-3">
     	  <button class="btn btn-primary" (click)=reset() style="text-align: center;" type="submit">Reset</button>
     	</div>
     	</div>
                 <div class="table-responsive">
               <table class="table table-striped table-bordered table-hover">
                  <thead>
                     <tr>
                        <th> No</th>
                        <th>Origin </th>
                        <th>HAWB NO</th>
                        <th>MANIFEST DATE</th>
                        <th>STATUS</th>
                     </tr>
                  </thead>
                  <tbody>
                  
                     <tr *ngFor= " let report of report; let i=index">
                   
                      
                        <td>{{i+1}}</td>
                        <td>{{report.origin_name}}</td>
                        <td>{{report.HAWB_NO}}</td>
                        <td>{{report.manifest_date}}</td>
                        <td>{{report.invoice_status}}</td>
                       
                       
                     </tr>
                 
   

                 
                   
                  </tbody>
               </table>
            </div>
